{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'booking/css/calendar.css' %}">
{% endblock %}

{% block scripts %}
<script>
	var booking_error = "{{booking_error}}";
</script>
<script src="{% static 'booking/js/calendar.js' %}"></script>
{% endblock %}

{% load get_item %}

{% block content %}
<div class="container-fluid">
	<!-- Date Navigation -->
	<div class="row date-group">
		<div class="col">
		{% for datebtn in datebtns %}
		{% if datebtn == current %}
		<a href="{% url 'calendar' datebtn %}" class="btn btn-primary">{{datebtn|date:'D, F j'}}</a>
		{% else %}
		<a href="{% url 'calendar' datebtn %}" class="btn btn-outline-secondary">{{datebtn|date:'D, F j'}}</a>
		{% endif %}
		{% endfor %}
		</div>
	</div>
	<!-- Calendar Content -->
	<div class="table-responsive">
		<table class="table table-bordered header-fixed">
			<thead>
				<tr>
					<th>Time</th>
					{% for court in courts %}
					<th>{{court}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for timeslot in timeslots %}
				<tr>
					<th class="timeslot"><h4>{{timeslot|date:"g:i a"}}</h4><p class="mb-0">- {{timeslot|get_next_hour|date:"g:i a"}}</p></th>
					{% for court in courts %}
						{% autoescape off %}
						<td>{{booking_states|get_court:court|get_time:timeslot}}</td>
						{% endautoescape %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="confirm-booking-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Court Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
        	<div class="col-4 d-flex justify-content-end">
        		<span class="font-weight-bold">Court:</span>
        	</div>
        	<div class='col-6'>
        		<p id="court-name"></p>
        	</div>
        </div>
        <div class="row mb-4">
        	<div class="col-4 d-flex justify-content-end">
        		<span class="font-weight-bold">Time:</span>
        	</div>
        	<div class='col-6'>
        		<p id="booking-time"></p>
        	</div>
        </div>
      <div class="modal-footer">
      	{% csrf_token %}
        <button action="{% url 'book' %}" class="btn btn-success modal-action">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}