<!doctype html>
<html>
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- System Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	{% block stylesheets %}
	{% endblock %}
	<title>{{ page_title }} - CourtBooking</title>

</head>
{% load tz %}
{% timezone "America/New_York" %}
<body>

{% include 'navbar.html' %}

<!--Display messages-->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
	{{ message }}
</div>
{% endfor %}
{% endif %}
<!--Display messages-->

{% block content %}
{% endblock %}

<!-- jQuery, Bootstrap -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<!--
<script src="{% static 'js/jquery.withinviewport.js' %}"></script>
<script src="{% static 'js/withinviewport.js' %}"></script> -->

<!-- Custom Scripts 
<script src="{% static 'js/base.js' %}"></script> -->

<!-- Additional Scripts -->
{% block scripts %}
{% endblock %}
</body>
{% endtimezone %}
</html>